div.blog-block {
	margin: 50px 0px;
}

h2 {
	font-weight: 300;
	text-transform: uppercase;
}

h2, h3, h4, h5 {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


a {
	text-decoration: none;
	font-weight: 300;
	color: grey;
}

a:hover {
	text-decoration: underline;
	color: darkgrey;
}

.blog-post {
	margin: 50px 25% 50px 0px;

}

.side-note {
	color: grey;
	font-style: italic;
}